body, html {
            font-family: sans-serif;
}

main {
      background: hsla(235, 100%, 80%, 1);
}

nav {
      background: hsla(235, 100%, 70%, 1);
}

nav li {
        display: inline-block;
        padding: .5rem 1rem;
        border-left: 1px solid white;
}

nav li:first-of-type {
                      border-left: none;
}

article {
          float: left;
          background: hsla(235, 100%, 60%, 1);
          width: 175px;
          text-indent: 15px;
          color: white;
}

article li {
            list-style-type: none;
            line-height: 400%;
}

aside {
        float: right;
        background: hsla(235, 100%, 80%, 1);
        width: 550px;
        text-align: center;
        padding-bottom: 15px;
}

aside img {
            padding-bottom: 15px;
}

h1 {
    margin: 0;
    font-size: 48px;
    text-align: center;
    color: hsla(235, 100%, 25%, 1);
}

footer {
        clear: both;
        padding: .25em;
        background: white;
        display: -webkit-flex; /* Safari */
        -webkit-justify-content: space-around; /* Safari 6.1+ */
        display: flex;
        justify-content: space-around;

}